@mixin link-btn($t-center, $bor-rule-1, $pad-1, $bor-rad, $bckgrd-color, $t-color) {
	text-align: $t-center;
	border: $bor-rule-1;
	padding: $pad-1;
	border-radius: $bor-rad;
	background: $bckgrd-color;
	color: $t-color;
}

@mixin sub-main-section($bckgrd-3-color, $dim, $another-dim, $m-auto) {
	background: $bckgrd-3-color;
	height: $dim;
	width: $another-dim;
	margin: $m-auto;
}


$t-center: center;
$t-weight: bold;
$normal-size: 16px;

$bckgrd-1-color: #555;
$bckgrd-2-color: #faa;
$bckgrd-3-color: #eee;
$t-1-color: #eee;
$t-2-color: #555;

$bor-rule-1: solid 1px #eee;
$bor-rule-2: solid 1px #555;
$bor-rad: 5px;

$dim-1: 900px;
$dim-2: 450px;
$dim-3: 80%;
$dim-4: 70%;
$dim-5: 25%;
$dim-6: 95%;
$full: 100%;
$auto: auto;

$m-auto: 0 auto;
$marg-1: 15px;
$marg-2: 20px auto;
$marg-3: 10px;
$marg-4: 20px 0;

$pad-1: 10px 0;
$pad-2: 15px 0 0;
$pad-3: 10px 15px;
$pad-4: 40px;
$pad-5: 150px;
$pad-6: 70px;


$break-smallest: 540px;
$break-small: 750px;
$break-med: 1000px;