@mixin link-btn($t-al, $bord, $pad, $b-rad, $b-col, $t-col) {
	text-align: $t-al;
	border: $bord;
	padding: $pad;
	border-radius: $b-rad;
	background: $b-col;
	color: $t-col;
}

@mixin h-w($h, $w) {
	height: $h;
	width: $w;
}

$nrm: 16px;

$bor-rule-1: solid 1px #eee;
$bor-rule-2: solid 1px #555;
$bor-rule-3: solid 3px #e70000;

$b-rad: 5px;

$full: 100%;
$auto: auto;

$m-auto: 0 auto;

$p-norm : 15px;

$break-smallest: 540px;
$break-small: 750px;
$break-med: 1000px;

$col : (
	y: #ffc82e,
	l-gb: #b1d0ca,
	d-g: #1e1e1e
);

$t : (
	t-cent : center,
	t-b : bold,
	t-s-n : 16px,
	t-s-b : $nrm
);
