$t-center: center;
$t-weight: bold;
$normal-size: 16px;

$bckgrd-1-color: #555;
$bckgrd-2-color: #faa;
$t-1-color: #eee;
$t-2-color: #555;

$bor-rule-1: solid 1px #eee;
$bor-rad: 5px;

$dim-1: 900px;

$marg-1: 15px;