.navbar-default {
  background: #555; }
  .navbar-default .navbar-nav li a {
    font-weight: bold;
    color: #eee; }

.mainContainer {
  background: #faa;
  height: 900px;
  margin-bottom: 15px; }

.generalContainer .generalArea {
  background: #eee;
  height: 450px;
  width: 80%;
  margin: 0 auto; }
  .generalContainer .generalArea .initPhotoAreaContainer {
    padding: 15px 0 0; }

.storyContainer .storyAreaSection {
  background: #eee;
  height: 450px;
  width: 95%;
  margin: 0 auto; }

.initTextAreaContainer {
  margin: 20px auto;
  width: 70%; }
  .initTextAreaContainer .init-photo-btn {
    text-align: center;
    display: block;
    border: solid 1px #eee;
    padding: 10px 0;
    border-radius: 5px;
    background: #faa;
    color: #eee; }
    @media screen and (min-width: 750px) {
      .initTextAreaContainer .init-photo-btn {
        padding: 10px 15px;
        width: 25%;
        margin: 0 auto; } }

.photoAreaContainer p {
  margin: 15px 0; }

.photoAreaContainer .image {
  width: 95%;
  margin: 0 auto; }
  .photoAreaContainer .image img {
    width: 100%; }

h1, p {
  text-align: center;
  color: #555; }

h1 {
  font-weight: bold;
  font-size: 40px; }

p {
  font-size: 16px; }

.mainTitle {
  margin-bottom: 15px; }
