@import "_mix-n-var";
@import "templates/_navbar.scss";
@import "templates/_main-container";
@import "templates/_general-container";
@import "templates/_story-container";
@import 'templates/_init-text-area-cont';
@import "templates/_photo-area-container";
@import "templates/_button-area";

html, body, #app {
	@include h-w($full, $full);
}

h1, p {
	text-align: map-get($t, t-cent);
	color: map-get($col, l-gb);
}

h1 {
	font {
		size : map-get($t, t-s-b);
		weight : map-get($t, t-b);
	}
}

p {
	font-size: map-get($t, t-s-n);
}
