.mainNav {
  background-color: #1e1e1e; }
  .mainNav .container #navbarHomeClick {
    font-weight: bold;
    color: #b1d0ca; }

.navbar-default .navbar-nav li a {
  font-weight: bold;
  color: #b1d0ca; }

.mainContainer {
  height: 100%;
  width: 100%;
  background-color: #b1d0ca; }

.generalContainer {
  height: 700px;
  width: 100%;
  background-color: #1e1e1e; }
  @media screen and (min-width: 750px) {
    .generalContainer {
      height: 1050px;
      width: 100%; } }

.initTextAreaContainer {
  background-color: transparent;
  padding-top: 200px; }
  .initTextAreaContainer .initPhotoBtn {
    text-align: center;
    border: solid 3px #e70000;
    padding: 15px;
    border-radius: 100%;
    background: transparent;
    color: #b1d0ca;
    display: block;
    width: 50%;
    margin: 0 auto; }
    @media screen and (min-width: 750px) {
      .initTextAreaContainer .initPhotoBtn {
        width: 30%; } }

.photoAreaContainer {
  height: 550px;
  width: 100%;
  background-color: #1e1e1e; }
  @media screen and (min-width: 750px) {
    .photoAreaContainer {
      height: 900px;
      width: 100%; } }

.buttonArea {
  width: 100%; }

html, body, #app {
  height: 100%;
  width: 100%; }

h1, p {
  text-align: center;
  color: #b1d0ca; }

h1 font {
  size: 16px;
  weight: bold; }

p {
  font-size: 16px; }
