.navbar-default {
  background: transparent; }
  .navbar-default .navbar-nav li a {
    font-weight: bold;
    color: #b1d0ca; }

.mainContainer {
  height: 100%;
  width: 100%; }

.initTextAreaContainer .init-photo-btn {
  text-align: center;
  border: solid 1px #eee;
  padding: 15px;
  border-radius: 5px;
  background: transparent;
  color: #b1d0ca;
  display: block; }

.buttonArea {
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

h1, p {
  text-align: center;
  color: #b1d0ca; }

h1 font {
  size: 16px;
  weight: bold; }

p {
  font-size: 16px; }
