@import '../_mix-n-var';

.generalContainer {
	.generalArea {
		background: $bckgrd-3-color;
		height: $dim-2;
		width: $dim-3;
		margin: $m-auto;
		.initPhotoAreaContainer {
			padding: $pad-2;
		}
	}
}