@import '../_mix-n-var';

.initTextAreaContainer {
	margin: $marg-2;
	width: $dim-4;
	.init-photo-btn {
		text-align: $t-center;
		display: block;
		border: $bor-rule-1;
		padding: $pad-1;
		border-radius: $bor-rad;
		background: $bckgrd-2-color;
		color: $t-1-color;
		@media screen and (min-width: $break-small) {
			padding: $pad-3;
			width: $dim-5;
			margin: $m-auto;
		}
	}
}